<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :company_id %><br />
  <%= f.select :company_id,  @companies.collect {|c| [ c.name, c.id ] }, { :include_blank => false } %>
</p>