<div id="sidebar">
  <ul>
    <li>
      <h1>Editing project</h1>
    </li>
  </ul>
</div>

<div id="contentPage">
  <table id="rounded-corner">
    <tr>
      <td>
        <% form_for(@project) do |f| %>
          <%= f.error_messages %>

          <%= render :partial => 'form', :locals => { :f => f } %>


          <p>
            <%= f.submit 'Update' %>
          </p>
        <% end %>
      </td>
    </tr>
  </table>
  
  <%= link_to 'Back', projects_path %>
</div>