<div id="sidebar">
  <ul>
    <li>
      <h1>New project</h1>
    </li>
  </ul>
</div>

<div id="contentPage">
  <% form_for(@project) do |f| %>
    <%= f.error_messages %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <%= link_to 'Back', projects_path %>
</div>