<div id="sidebar">
  <ul>
    <li>
      <h1>Show company</h1>
    </li>
  </ul>
</div>

<div id="contentPage">
  <p>
    <b>Name:</b>
    <%=h @company.name %>
  </p>


  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
</div>